.admin{
    margin-top:120px;
    /* display: flex; */
}
.admin-list{
    width:15%;
    height: 40px;
    margin-right: 20px;
    background-color:#dcdde1;
    height: 100vh;
    padding: 5px;
    position:fixed;
}
.admin-list p{
    margin: 0;
    padding:10px;
    color:black;
    margin-left: 10px;
}
.admin-list p:hover{
    color:#227093;
    transition: all 0.2s;
    background-color: #ccc;
    border-radius: 5px;
}
a:hover{
    text-decoration: none;
    transition: all 0.2s;
}

.table{
    display:flex;
    justify-content: center;
    align-items: center;
}
.title h4{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    padding-top: 10px;
    font-weight: 600;
}
table, th, td {
    border: 1px solid #ccc;
    text-align: center;
  }
.file-img img {
    width: 60px;
}

.menu-top1 {
    padding:15px 0;
}
.img-animate {
    width: 140px;
}
.admin-control{
    display: flex;
}
.box1{
    width: 30%;
}
.box2{
    width: 60%;
    padding:10px;
}
.delete a{
    color: red;
    font-size:20px;
}
.delete a:hover{
    color: red;
    opacity: 0.5;
}
.add a{
    color: #4cd137;
    font-size:20px;
}
.add a:hover{
    color: #4cd137;
    opacity: 0.5;
}
.nextpage {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.nextpage li {
    list-style: none;
}

.nextpage a {
    padding: 5px 10px;
    text-decoration: none;
    margin: 0 10px;
    border: 1px solid #ccc;
    color: #121212;
}
.nextpage a:hover{
    background-color: #dd8f22;
}